{% extends 'base.html' %}

{% block content %}

<script>
    function changeUrl(){
        let chUrl = document.forms[0];
        let el = chUrl.elements.album_title.value;

        console.log(el);
        window.location = 'albcompadd/' + el;
    }
</script>


<div class="container">
    <div class="row">
        <div id="music-current-card" class="music-current-card">
            <div class="card-body">
                <form action="" name="my" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="fieldWrapper">
                        {{ form.album_title.errors }}
                        <label for="{{ form.subject.id_for_label }}">Title</label>
                        <div id="title-input">{{ form.album_title }}</div>
                    </div>
                    <div class="fieldWrapper">
                        {{ form.album_envelope.errors }}
                        <label for="{{ form.subject.id_for_label }}">Envelope</label>
                        {{ form.album_envelope }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.album_user.errors }}
                        <label for="{{ form.subject.id_for_label }}">User</label>
                        {{ form.album_user }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Add</button>
                    <button type="submit" onclick="changeUrl()" class="btn btn-primary btn-sm">Add compositions to last created album</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}