{% extends 'base.html' %}

{% block content %}

<script>

</script>


<div class="container">
    <div class="row">
            <div class="album-add-card">
                <h1>Добавить альбом</h1>
                <img id="album-add-card" onclick="addAlbumRedirect()" src="https://i.imgur.com/WFZboHd.png"alt="">
            </div>
            <div class="adding-card-music">
                <h1>Add composition</h1>
                <img src="https://i.imgur.com/hdNlON5.png" id="adding-card-music" onclick="addCompositionRedirect()" alt="">
            </div>
    </div>
</div>

<script>
    function addAlbumRedirect() {
        window.location = 'album'
    }

    function addCompositionRedirect() {
        window.location = 'composition'
    }
</script>

{% endblock %}