{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div id="post-card">
        <div class="row">
            <div id="alb" >
                <form action="" method="post">
                    {% csrf_token %}
                    <img id="album-envelope-example" src="{{ album.album_envelope.url }}"  alt="">
                    <h3 class="card-title">{{ album.album_title }}</h3>
                    <button type="submit" class="btn btn-primary btn-sm">POST</button>
                </form>
            </div>

            <div id="comp" >
                <div id="crd">
                    {% for el in added_comp %}
                    <h3 class="card-title">{{ el.composition_title }}</h3>
                    <h5 class="card-title">{{ el.composition_singer.nickname }}</h5>
                    <audio src="{{ el.composition_file.url }}" controls></audio>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}