{% extends 'base.html' %}

{% block content %}

<script>

</script>


<div class="container">
    <div class="row">
        <div id="music-current-card" class="music-current-card">
            <div class="card-body">
                <div id="playlist-current-card" class="playlist-card">
                    <h1 class="card-title">{{ playlist.playlist_title }}</h1>
                    {% if playlist.playlist_envelope %}
                    <img id="envelope-current-playlist" src="{{ playlist.playlist_envelope.url }}">
                    {% endif %}
                    {% for music in songs %}
                    <audio src="{{ music }}"></audio>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}