{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <div id="music-main-card">
            <h1>Recommendations:</h1>
            <br>
            {% for item in items %}
            <div id="rec-composition-table">
                <h5 class="card-title">{{ item.composition_title }}</h5>
                <h6 class="card-title">{{ item.composition_singer.nickname }}</h6>
                <audio src="{{ item.composition_file.url }}" id="audio-area" controls></audio>

<!--                <form action="" method="post">-->
<!--                    {% csrf_token %}-->
<!--                    {{ form.as_p }}-->
<!--                    <button type="submit" id="select-main-button" class="btn btn-primary btn-sm">Add</button>-->
<!--                </form>-->
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}