
html, body{
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    transform: none;

}


body{
    background-image: url('https://i.ibb.co/mBBwZR8/imgonline-com-ua-Blur-o-Mtu1i-Htu9-F3a-Mu.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;


}

#add-release-card{
    width: 100%;
    background-color: #f4759b;
    opacity: 95%;
    padding: 40px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    color: #ffffff;
    z-index: 10;
    position: relative;
}

#album-add-card{
    object-fit: cover;
    width: 75%;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    margin-top: 20px;
    transition: 0.15s ease-out;
    background-color: #ffffff;
    cursor: pointer;
}

#album-add-card:hover{
    -webkit-transform: scale(1.05);
}

.album-add-card{
    width: 50%;
    text-align: center;
}

.adding-card-music{
    width: 50%;
    text-align: center;

}

#adding-card-music:hover{
    -webkit-transform: scale(1.05);
}

#adding-card-music{
    object-fit: cover;
    width: 75%;
    height: 380px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    margin-top: 20px;
    transition: 0.15s ease-out;
    background-color: #ffffff;
    cursor: pointer;
}

#add-album-card{
    width: 100%;
    background-color: #f4759b;
    opacity: 95%;
    padding: 40px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    color: #ffffff;
}

#comp-to-album{
    width: 100%;
    background-color: #f4759b;
    opacity: 95%;
    padding: 40px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    color: #ffffff;
}
#alb{
    width: 400px;
    background-color: #f4759b;
    opacity: 95%;
    padding: 20px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 30px;
}

#empty-form{
    width: 760px;
}

.btn-primary{
    background-color: #ffffff;
    color: #f4759b;
    border-width: 0px;
    border-color: #f4759b;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    transition: none;
    outline: 0 !important;

}

.d-flex{
    margin-bottom: 10px;
}
#form-update-info{
    color: #ffffff;
}


.btn-primary:focus .btn-primary:active{
    box-shadow: none;
    outline: none !important;
    transition: none;
    border-width: 0px;
    background-color: #ffffff;
    color: #f4759b;
    position: absolute;
}


.btn-primary:hover{
    background-color: #f4759b;
    color: #ffffff;
    border-width: 0px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);

}

#comp{
    width: 760px;
}

select#id_composition_album:disabled{
    display: none;
}
.form-control[type=file]:disabled{
    display: none;
}

#open-form-button:focus{
    background-color: #ffffff;
    color: #f4759b;
    border-width: 0px;
    outline: none;
}

#music-to-album-card{
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    color: #ffffff;
    height: 447px;
    padding: 20px;

}

#album-envelope-example{
    margin-bottom: 15px;
    width: 350px;
    object-fit: cover;
    height: 350px;
    text-align: center;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);

}

#post-card{
    width: 100%;
    background-color: #f4759b;
    opacity: 95%;
    padding: 40px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    color: #ffffff;
}

#music-to-album-card{
    width: 800px;
    padding-top: 40px;
}

#composition-card{
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    padding: 20px;
    margin-bottom: 10px;
    -webkit-transition: 0.15s ease-out;
    background-color: #ffffff;
    color: #f4759b;
    cursor: pointer;
}
#composition-card-singer-profile{
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    padding: 20px;
    margin-bottom: 10px;
    -webkit-transition: 0.15s ease-out;
    background-color: #ffffff;
    color: #f4759b;
    cursor: pointer;
    width: 1205px;
}



#composition-card-singer-profile:hover{
    -webkit-transform: scale(1.025);
}

#composition-card:hover{
    -webkit-transform: scale(1.025);
}

#rec-composition-table{
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    padding: 15px;
    margin-bottom: 10px;
    -webkit-transition: 0.15s ease-out;
    background-color: #ffffff;
    color: #f4759b;
    cursor: pointer;
    width: 96%;
    height: 160px;
    display: inline-block;

}

#rec-composition-table:hover{
    -webkit-transform: scale(1.025);
}

#comp-to-alb-form{
    width: 50%;
}

#audio-area{
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.54);
    width: 100%;
    margin-top: 10px;
    border-radius: 25px;
}

.navbar-nav{
    z-index: 10;
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link{
    z-index: 10;
    position: relative;
}
.navbar-nav .dropdown-menu{
    position: relative;
}


#add-music-to-playlist-btn{
    border-radius: 0px 10px 10px 0px;
    width: 20px;
    position: relative;
    height: 120px;
    background-color: #ffffff;
    display: inline-block;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.54);
    -webkit-transition: 0.2s ease-out;
    cursor: pointer;
}
#add-music-to-playlist-btn:hover{
    -webkit-transform: scale(1.05);
}
#choose-playlist-table{
    width: 200px;
    height: 225px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.54);
    display: inline-block;
    color: #f4759b;
    text-align: center;
    padding: 10px;
    margin: 20px;
    -webkit-transition: 0.2s ease-out;
    cursor: pointer;

}
#choose-playlist-table:hover{
    -webkit-transform: scale(1.05);
}


#chose-envelope-playlist{
    width: 180px;
    height: 180px;
    object-fit: cover;
}


#choose-playlists-card{
    width: 100%;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.54);
    z-index: 50;
    position: fixed;
    text-align: center;
    display: none;
    color: #f4759b;

}

#card-of-porfile{
    width: 100%;
    background-color: #f4759b;
    opacity: 95%;
    padding: 40px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
}

#profile-photo{
    object-fit: cover;
    width: 350px;
    height: 350px;
}

#profile-card{
    width: 400px;
    color: #ffffff;
    padding-top: 20px;
    margin-left: 20px;
}

#update-form{
    margin-top: 150px;
    display: none;
}

#redaction-card{
    width: 800px;
    color: #ffffff;
}

.navbar{
    margin-bottom: 30px;
    background-color: #ffffff;
    opacity: 85%;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    position: relative;
    z-index: 888;

}

.dropdown-menu{
    background: #ffffff;
    color: #f4759b;
    border-radius: 0px;
    border-width: 0px;
    margin-left: 40px;
    text-align: right;
    position: relative;
    z-index: 100;

}

#single-current-composition-envelope{
    margin-bottom: 15px;
    width: 90%;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
}

#composition-current{
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    padding: 25px;
    background-color: #f4759b;
    color: #ffffff;
    opacity: 95%;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.dropdown-item{
    color: #f4759b;
    -webkit-transition: 0.2s ease-out;
    z-index: 15;
    position: relative;
}
#playlist-composition-current{
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    padding: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
    color: #f4759b;
    text-align: left;
    -webkit-transition: 0.15s ease-out;
    cursor: pointer;
}
#playlist-composition-current:hover{
    -webkit-transform: scale(1.025);
}

#album-composition-current{
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    padding: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;
    color: #f4759b;
    text-align: left;
    -webkit-transition: 0.15s ease-out;
    cursor: pointer;
}
#album-composition-current:hover{
    -webkit-transform: scale(1.025);
}

.dropdown-item:hover{
    -webkit-transform: scale(1.15);
    color: #f4759b;
    background-color: rgba(0,0,0,0);
}


.dropdown-menu{
    z-index: 999;
    position: relative;
    background-color: #ffffff;
}

#music-main-card{
    margin-right: auto;
    margin-left: auto;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    padding: 25px;
    background-color: #f4759b;
    color: #ffffff;
    width: 50%;
    z-index: 1;
    opacity: 90%;
}

#playlist-add-card{
    display: none;

}

select#id_playlist_user:disabled{
    display: none;
}

#playlist-current-card{
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    padding: 25px;
    background-color: #f4759b;
    color: #ffffff;
    opacity: 95%;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#album-card-singer-profile{
    width: 350px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    text-align: center;
    padding: 20px;
    margin: 25px;
    -webkit-transition: 0.15s ease-out;
    cursor: pointer;
    display: inline-block;
}

#album-card-singer-profile:hover{
    -webkit-transform: scale(1.05);
}

#album-card{
    width: 350px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    text-align: center;
    padding: 20px;
    margin: 25px;
    -webkit-transition: 0.15s ease-out;
    cursor: pointer;
    display: inline-block;
}
#album-card:hover{
    -webkit-transform: scale(1.05);
}

#my-releases-card{
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    padding: 25px;
    background-color: #f4759b;
    color: #ffffff;
    opacity: 95%;
}
#singer-profile-releases-card{
    margin-left: 20px;
}

#envelope-current-playlist{
    margin-bottom: 15px;
    width: 90%;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
}

#playlist-card{
    width: 350px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    text-align: center;
    padding: 20px;
    margin: 25px;
    -webkit-transition: 0.15s ease-out;
    cursor: pointer;
    display: inline-block;
}

#playlist-card:hover{
    -webkit-transform: scale(1.05);

}

#envelope-playlist{
    object-fit: cover;
    width: 300px;
    height: 300px;
}

#envelope-album{
    object-fit: cover;
    width: 300px;
    height: 300px;
}

#envelope-album-singer-profile{
    object-fit: cover;
    width: 300px;
    height: 300px;
}

#my-playlist-card{
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    padding: 25px;
    background-color: #f4759b;
    color: #ffffff;
    opacity: 95%;
}

.navbar-brand{
    color: #f4759b;
    margin-left: 30px;
    -webkit-transition: 0.2s ease-out;
}

.navbar-brand:hover{
    -webkit-transform: scale(1.25);
    color: #f4759b;

}

#navbarDropdown{
    color: #f4759b;
    margin-right: 30px;
    -webkit-transition: 0.2s ease-out;
    z-index: 999;
    position: relative;
}
#navbarDropdown:hover{
    -webkit-transform: scale(1.1);
    color: #f4759b;
}

input[type="checkbox" i]:disabled{
    display: none;
}

#reg{
    color: #f4759b;
    -webkit-transition: 0.15s ease-out;
}
#reg:hover{
    -webkit-transform: scale(1.05);
}

#log{
    color: #f4759b;
    -webkit-transition: 0.15s ease-out;
}

#log:hover{
    -webkit-transform: scale(1.05);
}

#register-card{
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    padding: 25px;
    background-color: #f4759b;
    color: #ffffff;
    opacity: 95%;
}

#rec-albums{
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    padding: 25px;
    background-color: #f4759b;
    color: #ffffff;
    opacity: 95%;
    width: 300px;
    text-align: center;
}

#rec-singers{
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    padding: 25px;
    background-color: #f4759b;
    color: #ffffff;
    opacity: 95%;
    width: 300px;
    text-align: center;
    z-index: 10;
}


#first-part-singer-info{
    width: 300px;
    color: #ffffff;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

#second-part-singer-info{
    margin-left: 100px;
    width: 280px;
    color: #ffffff;
    margin-top: auto;
    margin-bottom: auto;
}

#card-of-singer{
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    padding: 25px;
    background-color: #f4759b;
    color: #ffffff;
    opacity: 95%;
    height: 550px;


}

#singer-photo{
    width: 450px;
    height: 450px;
    object-fit: cover;
    text-align: center;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
}

#card-of-releases-singer{
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    padding: 25px;
    background-color: #ffffff;
    color: #f4759b;
    opacity: 95%;
}

#singer-photo-main-page{
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);

}


#rec-singer-table{
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    padding: 15px;
    margin-bottom: 15px;
    -webkit-transition: 0.2s ease-out;
    cursor: pointer;
}
#rec-singer-table:hover{
    -webkit-transform: scale(1.05);
}


#rec-album-table{
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    padding: 15px;
    margin-bottom: 15px;
    -webkit-transition: 0.2s ease-out;
    cursor: pointer;
    background-color: #ffffff;
    color: #f4759b;
}

#rec-album-table:hover{
    -webkit-transform: scale(1.05);
}

#album-envelope-main-page{
    width: 200px;
    height: 200px;
    object-fit: cover;
    text-align: center;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    margin-bottom: 10px;

}

.form-control{
    border-radius: 0px;
    color: #f4759b;
    box-shadow: none;
    outline: 0 !important;
    transition: none;
    border-width: 0px;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
}

.form-control:focus{
    box-shadow: none;
    outline: 0 !important;
    transition: none;
    border-width: 0px;
}

.form-control:active{
    box-shadow: none;
    outline: 0 !important;
    transition: none;
    border-width: 0px;
}

.page-item{
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
}

.page-item:first-child .page-link{
    border-radius: 0px;
}
.page-item:last-child .page-link{
    border-radius: 0px;
}

.page-link:hover{
    color: #ffffff;
    background-color: #f4759b;
}

.page-link{
    color: #f4759b;
}

.page-item.active .page-link{
    background-color: #f4759b;
    color: #ffffff;
    border-color: #ffffff;
}

#rec-singer-table-user{
    background-color: #ffffff;
    color: #f4759b;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    padding: 15px;
    margin-bottom: 15px;
    -webkit-transition: 0.2s ease-out;
    cursor: pointer;
}
#rec-singer-table-user:hover{
    -webkit-transform: scale(1.05);
}

#login-card{
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    padding: 25px;
    background-color: #f4759b;
    color: #ffffff;
    opacity: 95%;
}

#composition-adding-form{
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.54);
    padding: 25px;
    background-color: #f4759b;
    color: #ffffff;
    opacity: 95%;
}