body{
    background: linear-gradient(45deg, #2c3e56,#4b7c78,#66c193);
    background-attachment: fixed;
    background-size: 100% 100%;
}

#navbarDropdown{
    border-color: #ffffff;
    color: #ffffff;
    border-style: solid;
    padding: 5px 30px 5px 30px;
    border-radius: 15px;
    border-width: 1px;
    margin-right: 40px;
    margin-top: 30px;
    -webkit-transition: all 0.25s ease-out;
    width: 350px;
    text-align: center;
}

#navbarDropdown:hover{
    -webkit-transform: scale(1.05);
}

.navbar{
    margin-bottom: 30px;
}

#music-card{
    border-radius: 0px;
    opacity: 95%;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    width: 1275px;
    -webkit-transition: all 0.10s linear;


}
.btn-outline-success{
    -webkit-transition: all 0.25s ease-out;
}

.btn-outline-success:hover{
    background-color: rgba(0, 0, 0, 0);
    -webkit-transform: scale(1.05);
}

.btn-primary:hover{
    background-color: rgba(0, 0, 0, 0);
    -webkit-transform: scale(1.15);
    border-color: #ffffff;
}

#add-music-button{
    background-color: rgba(28,28,28,0);
    border-color: #ffffff;
    margin-bottom: 20px;
    -webkit-transition: all 0.25s ease-out;
}

#add-music-button:hover{
    -webkit-transform: scale(1.05);
    border-color: #ffffff;
}

#music-add-card{
    display: none;
    opacity: 95%;

}

.dropdown-menu{
    border-radius: 0px;
    position: relative;
    z-index: 10;
    background: linear-gradient(45deg, #4b7c78,#66c193);
    width: 355px;
    margin-top: 10px;
    text-align: center;
    border-color: #ffffff;
    -webkit-transition: all 0.25s ease-out;
}

.album-add-card{
    color: #ffffff;
}

#adding-card-music{
    width: 600px;
    object-fit: cover;
    height: 500px;
    -webkit-transition: all 0.25s ease-out;
    cursor: pointer;
}

#adding-card-music:hover{
    -webkit-transform: scale(1.1);
}

.adding-card-music{
    width: 600px;
    color: #ffffff;
    text-align: center;
    margin-left: 100px;
}

.card-adding{
    display: inline-block;
}

.album-add-card{

    width: 600px;
    text-align: center;
}

#album-add-card{
    width: 600px;
    -webkit-transition: all 0.25s ease-out;
    height: 500px;
    object-fit: cover;
    cursor: pointer;

}
#album-add-card:hover{
    -webkit-transform: scale(1.1);
}

.dropdown-menu:hover{
    -webkit-transform: scale(1.1);
}

#reg{
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 15px;
    color: #ffffff;
    margin-right: 40px;
    margin-top: 30px;
    -webkit-transition: all 0.25s ease-out;
}

#reg:hover{
    -webkit-transform: scale(1.05);

}

#log{
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 15px;
    color: #ffffff;
    margin-right: 40px;
    margin-top: 30px;
    -webkit-transition: all 0.25s ease-out;
}

#register-form{
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 0px;
    color: #ffffff;
    padding: 20px;
    width: 50%;
}

#log:hover{
    -webkit-transform: scale(1.05);

}

#login-form{
   border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 0px;
    color: #ffffff;
    padding: 20px;
    width: 50%;
    -webkit-transition: all 0.25s ease-in-out;
}

#login-form:hover{
    width: 100%;

}

#rec-composition-table{
    border: 1px solid #ffffff;
    padding: 20px;
    margin: 10px;

}

#music-main-card{
    color: #ffffff;
    border-style: solid;
    border-radius: 0px;
    border-color: #ffffff;
    border-width: 1px;
    margin-top: 25px;
    padding: 25px;
    width: 1300px;
    display: inline-block;
}


#playlist-card{
    border: 1px solid #ffffff;
    padding: 15px;
    width: 280px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    -webkit-transition: all 0.25s ease-out;
    background-color: rgba(75, 124, 120, 15%);
}

select#id_playlist_user{
    display: none;
}

.dropdown-divider{
    background-color: #ffffff;
    border-top: 1px solid rgba(255,255,255,.15);
}

#playlist-current-card{
    display: block;
}

#back-playlist-card{
    border: 0px solid;
    width: 280px;

}

select#id_composition_user{
    display: none;
}

select#id_composition_singer{
    display: none;
}

#envelope-current-playlist{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 20px;
}

.music-current-card{
    color: #ffffff;
    border: 2px solid #ffffff;
}

#playlist-card:hover{
    -webkit-transform: scale(1.075);
    -ms-transform: scale(1.075);
    transform: scale(1.075);
    background-color: rgba(0, 0, 0, 10%);

}

#envelope-playlist{
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
}

#find-my-list{
    color: #ffffff;
    border-color: #ffffff;
}

#log-button{
    background-color: rgba(0, 0, 0, 0);
    border-color: #ffffff;
}

#reg-button{
    background-color: rgba(0, 0, 0, 0);
    border-color: #ffffff;
}

.dropdown-item{
    color: #ffffff;

}

.dropdown-item:hover{
    background-color: rgba(0, 0, 0, 0);
    color: #2c3e56;
}

#playlist-composition-current{
    margin: 20px;
    border: 1px solid #ffffff;
    padding: 10px;
    display: block;
}

#audio-playlist{
    display: inline-block;
    width: 600px;
}

.navbar-brand{
    color: #ffffff;
    border-style: solid;
    padding: 1px 30px 1px 30px;
    border-radius: 15px;
    margin-left: 40px;
    margin-top: 30px;
    border-width: 1px;
    -webkit-transition: all 0.25s ease-out;
}

.navbar-brand:hover{
    color: #ffffff;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);

}

#music-add-card{
    color: #ffffff;
    padding: 15px;
    border-style: solid;
    border-radius: 0px;
    border-color: #ffffff;
    border-width: 1px;
    position: relative;

}

.btn-primary{
    background-color: rgba(0, 0, 0, 0);
    border-color: #ffffff;
    -webkit-transition: all 0.25s ease-out;
}

#profile-photo{
    width: 350px;
    height: 350px;
    object-fit: cover;
    text-align: center;
    margin-bottom: 15px;
}

#redaction-card{
    width: 800px;
    color: #ffffff;
}

#open-form-button:active{
    background-color: rgba(0, 0, 0, 0);
}

#profile-card{
    width: 400px;
    height: 500px;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 20px;
    text-align: center;


}

#update-form{
    display: block;
    width: 400px;
    color: #ffffff;
    border: 1px solid #ffffff;
    display: none;
    -webkit-transition: all 1s ease-out;
}

#composition-adding-form{
    color: #ffffff;

}
